.App {
  text-align: center;
  background-color: black;
}

.link {
  text-decoration: none;
  color: inherit;
}

.home {
  padding: 30px;
}

.btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}